{% extends 'base.html' %} {% load static %} {% load i18n %}

<!-- Title -->
{% block title %} {% trans "Herbdex | Catalog" %} {% endblock %}

<!-- Static Files -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/search_input.css' %}" />
<link rel="stylesheet" href="{% static 'css/catalog.css' %}" />
{% endblock %}

<!-- Content -->
{% block content %}

<!-- Background Cover Image -->
<div class="cover-image"></div>

<!-- Foreground Content -->
<div class="d-flex p-2 p-md-5 mt-5 position-relative z-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-lg-7">
        <!-- Title and Description -->
        <h1 class="fs-2 text-light">
          {% trans "Herbdex — Your Digital Herbarium" %}
        </h1>
        <p class="lead text-light">
          {% blocktrans %} Discover the healing power of herbs through a
          searchable herbarium catalog. Find remedies by plant name or condition
          with ease. {% endblocktrans %}
        </p>

        <!-- Search Form -->
        <form method="GET" action="{% url 'catalog' %}" class="py-3 mb-5">
          {% csrf_token %}
          <div class="search-wrapper">
            <div class="search-box">
              <i class="fas fa-search search-icon"></i>
              <input
                id="search_input"
                name="search_input"
                value="{{ request.GET.search_input }}"
                type="text"
                class="form-control search-input"
                placeholder="{% trans 'Search Herbs' %}"
              />
              <button class="btn btn-primary search-button">
                {% trans "Search" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Cards -->
    <div class="row g-4">
      {% for herb in page_obj %}
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="card h-100 shadow-sm mx-auto">
          <div class="ratio ratio-1x1">
            <img
              src="{{ herb.catalog_image.url }}"
              class="card-img-top object-fit-cover"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ herb.name }}</h5>
            <p class="card-text text-secondary">{{ herb.overview }}</p>

            <!-- Makes whole card clickable-->
            <a href="{{ herb.get_url }}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Pagination -->
      {% if page_obj.has_other_pages %}
      <nav aria-label="Catalog Pagination">
        <ul class="pagination justify-content-center mt-4">
          <!-- Previous -->
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.previous_page_number }}{% if search_input %}&search_input={{ search_input }}{% endif %}"
            >
              Previous
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          {% endif %}

          <!-- Page Numbers -->
          {% for num in page_obj.paginator.page_range %}

          <!-- Active page -->
          {% if page_obj.number == num %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
          {% else %}
          <!-- Other Pages -->
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ num }}{% if search_input %}&search_input={{ search_input }}{% endif %}"
            >
              {{ num }}
            </a>
          </li>
          {% endif %} {% endfor %}

          <!-- Next -->
          {% if page_obj.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.next_page_number }}{% if search_input %}&search_input={{ search_input }}{% endif %}"
            >
              Next
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
